* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --main-purple: #3d348b;
  --lighter-purple: #5a4fbd;
  --orange-color: #f6b819;
}

/*GENERAL*/
ul {
  list-style: none;
}

li:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

main {
  height: calc(100dvh - 132px);
}

body {
  width: 100dvw;
  position: relative;
  height: 100dvh;
  z-index: -15;
  overflow-x: hidden;
}

button {
  padding: var(--spacing-sm) var(--spacing-lg);
  border-radius: calc(var(--spacing-sm) / 2);
  border: 1px solid black;
  background-color: var(--main-purple);
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  text-transform: uppercase;
  white-space: nowrap;
}

button:hover {
  cursor: pointer;
}

/*NAVBAR*/
.navbar > ul,
.navbar-right,
.navbar-left,
.right-container,
.mobile-nav {
  display: flex;
  align-items: center;
}

.navbar {
  font-size: 1.5rem;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-md) 0;
  white-space: nowrap;
}

.navbar > ul {
  justify-content: space-between;
}

.navbar-left {
  overflow-x: hidden;
  position: relative;
  z-index: 12;
}

.logo {
  content: url(./assests/FlocMainBlk.svg);
  width: 140px;
  height: auto;
}

.logo-word {
  content: url(./assests/FlocWordmarkBlk.svg);
  transform: translateX(97px);
  width: 140px;
}

.show-logo {
  transform: translateX(0px);
  transition: transform 1s ease;
}

.navbar-right > a > li {
  padding: var(--spacing-sm);
  font-size: 2.4rem;
  font-weight: bold;
}

/*BURGER-MOBILE*/
.hamburger-mobile {
  cursor: pointer;
  display: none;
  width: 35px;
  height: 35px;
  justify-content: space-evenly;
  flex-direction: column;
}

.hamburger-mobile > .line {
  width: 100%;
  background-color: black;
  height: 2px;
  z-index: 12;
  transition:
    transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1),
    width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
}

/*MOBILE-NAV*/
.mobile-nav {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 250ms ease;
  height: 110%;
  z-index: 10;
  left: -111%;
  top: -5px;
  width: 110%;
  justify-content: center;
  color: white;
  background-color: var(--main-purple);
}

.mobile-nav-open {
  transform: translateX(100%);
}

.mobile-nav ul {
  text-align: center;
}

.mobile-nav ul > li {
  padding: var(--spacing-sm);
  font-size: 2rem;
}

/*FIRST-COLUMN*/
main {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
}

#gradient-canvas {
  /* background-color: var(--main-purple); */
  position: absolute;
  z-index: -100;
  width: 200%;
  left: -50%;
  top: -640px;
  height: 970px;
  transform: rotate(-10deg);
  --gradient-color-1: var(--main-purple);
  --gradient-color-2: var(--lighter-purple);
  --gradient-color-3: var(--orange-color);
  --gradient-color-4: #ffaa1d;
}

.wrapper-left-column {
  align-self: center;
  padding-left: var(--spacing-md);
  font-size: clamp(2rem, calc(6.7vw + 1rem), 8rem);
  letter-spacing: -0.4rem;
}

.top-container,
.bottom-container {
  overflow: hidden;
}

.top-h1,
.bottom-h1,
.second-h2 {
  line-height: 9rem;
}

.top-h1 {
  font-weight: 100;
}

.bottom-h1,
.last-h2,
.second-h2 {
  transform: translateY(-250px);
}

.visible-false {
  transform: translateY(-250px);
  position: absolute;
  visibility: hidden;
}

/*SECOND COLUMN*/
.wrapper-right-column {
  justify-self: center;
  align-self: center;
  width: 70%;
  height: 50%;
}

.wrapper-right-column .right-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
}

.right-container > * {
  margin-bottom: var(--spacing-md);
}

.right-heading {
  font-size: 2.7rem;
  width: 90%;
}

.explanation-p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.right-bttn-container {
  width: 100%;
}

.right-bttn-container > * {
  margin: 0 var(--spacing-sm) var(--spacing-sm) 0;
}

.sign-up-h2 {
  font-weight: 100;
}

.sign-up-bttn:hover {
  background-color: var(--lighter-purple);
}

.learn-button {
  background-color: white;
  color: black;
}

.learn-button:hover {
  background-color: var(--main-purple);
  color: white;
}

/*MEDIA QUERIES*/
@media only screen and (max-width: 1520px) {
  .top-h1,
  .bottom-h1,
  .second-h2 {
    line-height: 8rem;
  }
}

@media only screen and (max-width: 1543px) {
  .wrapper-right-column {
    width: 88%;
  }
}

@media only screen and (max-width: 1462px) {
  #gradient-canvas {
    top: -700px;
  }
}

@media only screen and (max-width: 1240px) {
  .top-h1,
  .bottom-h1,
  .second-h2 {
    line-height: 7rem;
  }
}

@media only screen and (max-width: 1216px) {
  .right-heading {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 1197px) {
  .wrapper-left-column {
    font-size: clamp(2rem, calc(6.5vw + 1rem), 8rem);
  }
}

@media only screen and (max-width: 1051px) {
  main {
    grid-template: 1fr 1fr /1fr;
    margin: var(--spacing-md) 0 0 var(--spacing-md);
  }
  body {
    overflow-y: scroll;
  }
  .wrapper-left-column {
    font-size: clamp(2rem, calc(8.5vw + 1rem), 8rem);
    padding: 0;
    align-self: end;
  }
  .wrapper-right-column {
    align-self: center;
    justify-self: start;
    margin-top: var(--spacing-lg);
  }
  .wrapper-right-column .right-container {
    width: 80%;
  }
  .right-heading {
    font-size: 2.7rem;
  }
  .explanation-p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 838px) {
  .top-h1,
  .bottom-h1,
  .second-h2 {
    line-height: 6rem;
  }
  .navbar-right > li {
    font-size: 1.7rem;
  }
  .navbar-left .logo {
    width: 100px;
  }
  .navbar-left .logo-word {
    width: 100px;
  }
}

@media only screen and (max-width: 638px) {
  main {
    padding: var(--spacing-sm);
  }
  .navbar {
    padding: var(--spacing-sm) var(--spacing-sm) 0;
  }
  .top-h1,
  .bottom-h1,
  .second-h2 {
    line-height: 5rem;
  }
}

@media only screen and (max-width: 534px) {
  main {
    grid-template: 0.6fr 1fr /1fr;
  }
  .sign-up-h2 {
    font-size: 2.5rem;
  }
  .wrapper-right-column .right-container {
    font-size: 1.5rem;
    width: 90%;
  }
  .top-h1,
  .bottom-h1 {
    line-height: 6rem;
  }
  .top-h1,
  .bottom-h1,
  .second-h2 {
    line-height: 4.5rem;
  }
}

@media only screen and (min-width: 481px) {
  .mobile-nav-open {
    transform: translateX(-100%);
  }
}

@media only screen and (max-width: 480px) {
  .navbar-right {
    display: none;
  }
  .hamburger-mobile {
    display: flex;
  }
}

/* //MEDIA QUERIES*/

/*ANIMATION*/
.line1 {
  -webkit-transform: rotate(-135deg) translateY(8px);
  transform: rotate(-45deg) translate(-1px, 8px);
}

.line2 {
  -webkit-transform: rotate(135deg) translateY(-8px);
  transform: rotate(45deg) translateY(-8px);
}

.slide-up-animation {
  animation-name: fadeInAnimation;
  animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0s;
}

.slideUp {
  animation-name: slideUp;
  animation-timing-function: ease;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

/* .slideUpDelayed {
  animation-name: slideUp;
  animation-timing-function: ease;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 1s;
  animation-fill-mode: forwards;
} */

/* .slideDown {
  animation-name: slideDown;
  animation-timing-function: ease;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
} */

.slideDownFurther {
  animation-name: slideDown, slideDownFurther;
  animation-timing-function: ease;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0.5s, 3s;
  animation-fill-mode: forwards;
}

.fadeIn {
  animation-name: fadeIn;
  animation-timing-function: ease;
  animation-duration: 1.3s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-delay: 0.5s;
}

@keyframes slideDown {
  0% {
    transform: translateY(-250px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slideDownFurther {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(250px);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0px);
  }
}
